@font-face {
  font-family: "iconfont"; /* Project id 3936490 */
  src: url('iconfont.woff2?t=1679297193622') format('woff2'),
       url('iconfont.woff?t=1679297193622') format('woff'),
       url('iconfont.ttf?t=1679297193622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e73a";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-tool:before {
  content: "\e767";
}

.icon-computer:before {
  content: "\e790";
}

.icon-bug:before {
  content: "\e60e";
}

.icon-douyin:before {
  content: "\e637";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-zhihu:before {
  content: "\e60d";
}

.icon-qq:before {
  content: "\e882";
}

.icon-git:before {
  content: "\e708";
}

.icon-regexp:before {
  content: "\e647";
}

.icon-eslint:before {
  content: "\e634";
}

.icon-stylelint:before {
  content: "\e697";
}

.icon-davinci:before {
  content: "\e65a";
}

.icon-food:before {
  content: "\e620";
}

.icon-drink:before {
  content: "\e645";
}

.icon-music:before {
  content: "\e74c";
}

.icon-game:before {
  content: "\e638";
}

.icon-phl:before {
  content: "\e9e2";
}

.icon-movie:before {
  content: "\e641";
}

.icon-github:before {
  content: "\e6d5";
}

.icon-javascript:before {
  content: "\e704";
}

.icon-css:before {
  content: "\e705";
}

.icon-html:before {
  content: "\e706";
}

.icon-frown:before {
  content: "\e77e";
}

.icon-meh:before {
  content: "\e780";
}

.icon-smile:before {
  content: "\e783";
}

.icon-message:before {
  content: "\e78a";
}

.icon-read:before {
  content: "\e7d8";
}

.icon-vue:before {
  content: "\e799";
}

.icon-linux:before {
  content: "\e80b";
}

.icon-java:before {
  content: "\e639";
}

.icon-photoshop:before {
  content: "\e8c1";
}

.icon-code:before {
  content: "\e654";
}

.icon-palette:before {
  content: "\e8a6";
}

.icon-wand:before {
  content: "\e8a7";
}

.icon-flash:before {
  content: "\e8af";
}

.icon-heart:before {
  content: "\e8b6";
}

.icon-leaf:before {
  content: "\e8be";
}

.icon-moon:before {
  content: "\e8c6";
}

.icon-planet:before {
  content: "\e8d1";
}

.icon-quote:before {
  content: "\e8d3";
}

.icon-school:before {
  content: "\e8dc";
}

.icon-star:before {
  content: "\e8de";
}

.icon-article:before {
  content: "\e618";
}

