body {
  height: 100vh;
  color: var(--text-color-primary);
}

a {
  color: var(--font-color-1);
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}
