@import url("./colors.css");


:root {
  /**
   * Redius
   * --------------------------------------------------------------------- */
  --screen-xs: 320px;
  --screen-sm: 768px;
  --screen-md: 992px;
  --screen-lg: 1200px;
  --screen-xl: 1400px;
  --screen-xxl: 1880px;

  /**
   * Redius
   * --------------------------------------------------------------------- */

  --radius-small: 2px;
  --radius-default: 3px;
  --radius-medium: 6px;
  --radius-large: 9px;
  --radius-extraLarge: 12px;
  --radius-round: 999px;
  --radius-circle: 50%;

  /**
   * Anime
   * --------------------------------------------------------------------- */

  --anim-time-fn-easing: cubic-bezier(.38, 0, .24, 1);
  --anim-time-fn-ease-out: cubic-bezier(0, 0, .15, 1);
  --anim-time-fn-ease-in: cubic-bezier(.82, 0, 1, .9);

  /**
   * Typography
   * --------------------------------------------------------------------- */

  --font-family: PingFang SC, Microsoft YaHei, Arial Regular;
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  /**
   * Z Indexes
   *
   * Algolia SearchBox has a z-index of 200, so make sure not to go above
   * that value.
   * --------------------------------------------------------------------- */

  --z-index-navbar: 10;
  --z-index-sidebar: 6;

  /**
   * Sizes
   * --------------------------------------------------------------------- */

  --header-height: 3.6rem;
}

/** Fallback Styles */
:root {
}
